.progress {margin-bottom: 10px;}
.info {margin-bottom: 5px;}
.em {    
    font-style: normal;
    font-weight: bold;
    margin-right: 5px;
}
.em::after {content: ':';}
.btn {margin: 3px 0; width: 100%;}

@media (min-width: 992px) {
    .img-search {min-height: 350px;}
    .div-btn-input {margin-top:15px;}
    .drop-option {margin-top:30px;}
}

@media (max-width: 991px) and (min-width: 541px) {
    .img-search {min-height: 500px;}
    .drop-option {padding-top: 20px;padding-right:10px}
    .div-btn-input{margin-top: 12px}
    .search_input{margin-bottom: 10px;margin-top:2px}
}

@media (max-width: 540px ) {
    .drop-option{margin-left: 72px;padding-top: 15px;}
    .div-btn-input{margin-top: 20px;margin-right: 20px;}
}

.search_input, .select-search-option {
    width: 100%;
    border-radius: 5px;
}

.search_input {
    padding: 5px;
}

.select-search-option {
    padding: 3px;
}
